$failureBright: #FF2E81;
$successBright: #00C86F;
$skippedBright: #00BFDF;
$pendingBright: #FFAF30;

$backgroundColor: #f0f0f0;
$textColor: #333;

$panelBackgroundBright: #fcfcfc;
$panelBackgroundDark: #444;
