<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="build/expedition.css"/>
    <script>
      var _cucumberFeatures = {{{json features}}};
    </script>
  </head>
  <body>
    {{#if dev}}
    <script src="/webpack-dev-server.js"></script>
    {{/if}}
    <script src="build/expedition.js"></script>
  </body>
</html>
