<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/expedition.css"/>
    <script>
      var _cucumberFeatures = {{{json features}}};
    </script>
  </head>
  <body>
    <script src="build/bundle.js"></script>
  </body>
</html>
