body {
    padding: 0 1em;
    background: #fff;
    color: #333;
}

.b-feature__name
{
    font-size: 1.2em;
}

.b-feature__name,
.b-scenario__name,
.b-step__name
{
    line-height: 1.5;
    font-weight: lighter;
    position: relative;
}


.b-feature__name,
.b-scenario__name
{
    cursor: pointer;
    font-weight: normal;
}

.b-feature__name:before,
.b-scenario__name:before,
.b-step__name:before
{
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.4em;
    left: -15px;
    margin-right: 0.5em;
    border: 6px solid transparent;
    border-left: 8px solid red;
    -webkit-transform-origin: 25% 50%;
    -webkit-transition: -webkit-transform 100ms ease-out;
}

.block_open:before {
    -webkit-transform: rotate(90deg);
}

.b-feature__name_result_success:before,
.b-scenario__name_result_success:before,
.b-step__name_result_success:before
{
    border-left-color: #00B85F;
}

.b-feature__name_result_failure:before,
.b-scenario__name_result_failure:before,
.b-step__name_result_failure:before
{
    border-left-color: #FF2E41;
}

.b-feature__name_result_failure,
.b-scenario__name_result_failure,
.b-step__name_result_failure
{

}

.b-step__keyword
{
    display: block;
    position: absolute;
}

.b-step__definition
{
    display: block;
    margin-left: 3.5em;
}


.b-feature,
.b-scenario,
.b-step
{
    margin: 0.8em 0;
}

.b-feature,
.b-scenario,
.b-step
{
    margin-left: 15px;
}

.b-scenario__screenshot
{
    width: 320px;
    margin: 0.5em 1em 0.5em;
}
