body {
    padding: 0 1em;
    background: #fff;
    color: #333;
}

.b-feature__name
{
    font-size: 1.2em;
}

.b-feature__name,
.b-scenario__name,
.b-step__name
{
    font-weight: lighter;
    position: relative;
}


.b-feature__name,
.b-scenario__name
{
    cursor: pointer;
    font-weight: normal;
    margin-left: 17px;
}


.b-feature__name:before,
.b-scenario__name:before
{
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -17px;
    margin-right: 0.5em;
    margin-top: -0.3em;
    border: 6px solid transparent;
    border-left: 8px solid #FF2E41;
    -webkit-transform-origin: 25% 50%;
    -webkit-transition: -webkit-transform 100ms ease-out;
}

.block_open:before {
    -webkit-transform: rotate(90deg);
}

.b-feature__name_result_success:before,
.b-scenario__name_result_success:before
{
    border-left-color: #00B85F;
}

.b-feature__name_result_failure:before,
.b-scenario__name_result_failure:before
{
    border-left-color: #FF2E41;
}


.b-step__name:before
{
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0.6em;
    left: -1em;
    margin-right: 0.5em;
    background: #FF2E41;
}

.b-step__name_result_success:before
{
    background: #00B85F;
}

.b-feature,
.b-scenario {
    padding: 0.7em;
    margin: 0.7em 0;
    background: rgba(255, 200, 120, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.b-feature_result_failure,
.b-scenario_result_failure
{
    border-left: 4px solid #FF2E41;
}

.b-feature_result_success,
.b-scenario_result_success
{
    border-color: rgba(0, 255, 0, 0.1);
    border-left: 4px solid #00B85F;
    background-color: rgba(150, 255, 150, 0.05);
}

.b-scenario {
    margin-bottom: 0;
}

.b-step {
    margin-left: 1em;
    margin-bottom: 0.3em;
    line-height: 1.8;
}

.b-step:first-child {
    margin-top: 0.7em;
}

.b-step:last-child {
    margin-bottom: 0;
}

.b-step__keyword
{
    display: block;
    position: absolute;
}

.b-step__definition
{
    display: block;
    margin-left: 3.5em;
}

.b-scenario__screenshot
{
    width: 320px;
    margin: 1em 0 0;
    padding: 1em;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
